version: '3'

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - db
    environment:
      # Change "dev" to "prod" in production
      - APP_ENV=dev
      - APP_DEBUG=true
      - GH_TOKEN=putAValidGithubToken
      - GH_SECURED_TOKEN=putAValidSecuredToken
    volumes:
      # Comment out the next line in production
      - ./:/srv/github-platform:rw
      # This is for assets:install
      - ./web:/srv/github-platform/web:rw
      # If you develop on Linux, comment out the following volumes to just use bind-mounted project directory from host
      - /srv/github-platform/var
      - /srv/github-platform/var/cache
      - /srv/github-platform/var/logs
      - /srv/github-platform/var/sessions
      - /srv/github-platform/vendor
    networks:
      - github-platform
  db:
    build:
      context: ./docker/db
      dockerfile: ./Dockerfile
    environment:
      - MYSQL_DATABASE=github_platform
      # You should definitely change the password in production
      - MYSQL_PASSWORD=github_platform
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_USER=github_platform
    volumes:
      - db-data:/var/lib/mysql:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/mysql:rw
  nginx:
    image: nginx:1.11-alpine
    depends_on:
      - app
    ports:
      - '81:80'
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./web:/srv/github-platform/web:ro
    networks:
      - github-platform

volumes:
  app-web: {}
  db-data: {}

networks:
  github-platform: ~