{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center page-header">
                <h1>Community Platform</h1>
            </div>
        </div>
    </div>
{% endblock %}
